<div class="container" id="i18_presentations">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="presentations.my_presentations">Recent Presentations</span></h1>
        </div>
    </div>
    <div class="row">
        {% for presentation in site.data.index.presentations %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
            <div class="col-sm-6 wow col-sm-offset-3 zoomIn">
                {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
            {% if forloop.index < 5 %}
              <div class="team-member">
                  {% if {{presentation.type}} == 'journal' %}
                    {{presentation.authors}} ({{presentation.year}}). {{presentation.name}}, <i>{{presentation.outlet}}, {{presentation.volume}}</i>{% if presentation.issue%} ({{presentation.issue}}){% endif %}, {{presentation.pages}}. <a target="_blank" href="https://doi.org/{{ presentation.doi }}">doi: {{presentation.doi}}</a>
                  {% elsif {{presentation.type}} == 'proceedings' %}
                    {{presentation.authors}} ({{presentation.year}}). {{presentation.name}}. In <i>{{presentation.outlet}}</i>, {{presentation.location}}.
                  {% endif%}
            {% endif %}
  
				<p><span data-i18n="presentations.{{ presentation.i18n }}">{{ presentation.desc }}</span></p>
                  
              </div>
          </div>
      {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn" id="i18_blog">
            <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="{{ "/presentations/" | prepend: site.baseurl }}"><span data-i18n="blog.my_blog">More...</span></a>
            <div style="height: 20px;"></div>
        </div>
    </div>

</div>
<br>
