---
layout: blog
title: Presentations
permalink: /presentations/
---
#{% include category.html %}

{% for presentation in site.data.index.presentations %}

<div class="col-sm-6 wow col-sm-offset-3 zoomIn text-left">
{% if  {{presentation.year}} ==  foo %}
{% else %}
<h2>{{presentation.year}}</h2>
{% endif %}
{% assign foo = {{presentation.year}} %}
               
    
		<UL>            
        	<div class="team-member">
        		{% if {{presentation.type}} == 'poster' %}
					{% if {{presentation.future}} %}
						<LI>{{presentation.authors}} ({{presentation.year}}). {{presentation.name}}. Poster to be presented at {{presentation.conference}}, {{presentation.location}}, {{presentation.date}}. {% if {{presentation.poster}} %}<a href="{{presentation.poster}}" target="blank"><i class="fa fa-file-pdf-o"></i></a>{% endif %}
					{% else %}
						<LI>{{presentation.authors}} ({{presentation.year}}). {{presentation.name}}. Poster presented at {{presentation.conference}}, {{presentation.location}}, {{presentation.date}}. {% if {{presentation.poster}} %}<a href="{{presentation.poster}}" target="blank"><i class="fa fa-file-pdf-o"></i></a>{% endif %}
					{% endif %}
        	    {% elsif {{presentation.type}} == 'conftalk' %}
					{% if {{presentation.future}}%}
						<LI>{{presentation.authors}} ({{presentation.year}}). {{presentation.name}}. Talk to be presented at {{presentation.conference}}, {{presentation.location}}, {{presentation.date}}.
					{% else %}
						<LI>{{presentation.authors}} ({{presentation.year}}). {{presentation.name}}. Talk presented at {{presentation.conference}}, {{presentation.location}}, {{presentation.date}}.
					{% endif %}
        	    {% elsif {{presentation.type}} == 'invtalk' %}
					{% if {{presentation.future}}%}
						<LI>{{presentation.authors}} ({{presentation.year}}). {{presentation.name}}. Invited talk to be presented at {{presentation.institute}}, {{presentation.location}}, {{presentation.date}}.
					{% else %}
						<LI>{{presentation.authors}} ({{presentation.year}}). {{presentation.name}}. Invited talk presented at {{presentation.institute}}, {{presentation.location}}, {{presentation.date}}.
					{% endif %}
        	    {% endif %}
  
				<p><span data-i18n="presentations.{{ presentation.i18n }}">{{ presentation.desc }}</span></p>
                  
        	</div>
    	</UL>
    </div>
{% endfor %}

<div class="col-sm-6">
	<p style="margin-bottom:3cm;"></p>
</div>